.Home{
    .sections{
        width:auto;
        > *{
          display: flex;
          flex-direction: column;
          position:relative;
        }
        
        .date {
          display: flex;
          margin: auto;
          font-family: 'Berkshire Swash', cursive;
          font-size: 24pt;
          height: 50px;
          flex-direction: column;
          justify-content: flex-end;
          text-align: center;
          text-underline-position: below;
        }
      }
}
  
  
  