.header{
    background-color:rgba(5, 38, 22, 1);
    height: 75px;
    position: fixed;
    width: auto;
    display:inline-block;
    
    .headerItems{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      color: white;
  
      
      .mainMenu{
        
  
        span {
          margin-left: 10px;
          position:absolute;
          margin-top:3px;
        }
      }
  
      .title{
        display:flex;
        align-items:center;
        font-size: 24pt;
        font-family: 'Berkshire Swash', cursive;
        color: white;
      }
  
      .userMenu{
        display:flex;
        justify-content: flex-end;
        margin-top: 5px;
        font-size: 36px;
      }
    }
  }